In [49]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from math import sqrt
from sklearn import datasets
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error,r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [41]:
#Reading data from the dataset
df = pd.read_csv("Fish.csv")

In [3]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [4]:
df.dtypes

Species     object
Weight     float64
Length1    float64
Length2    float64
Length3    float64
Height     float64
Width      float64
dtype: object

In [5]:
df.head(20)
#We can see that the Species column is a categorical data so we can transform

   Species  Weight  Length1  Length2  Length3   Height   Width
0    Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1    Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2    Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3    Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4    Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
5    Bream   450.0     26.8     29.7     34.7  13.6024  4.9274
6    Bream   500.0     26.8     29.7     34.5  14.1795  5.2785
7    Bream   390.0     27.6     30.0     35.0  12.6700  4.6900
8    Bream   450.0     27.6     30.0     35.1  14.0049  4.8438
9    Bream   500.0     28.5     30.7     36.2  14.2266  4.9594
10   Bream   475.0     28.4     31.0     36.2  14.2628  5.1042
11   Bream   500.0     28.7     31.0     36.2  14.3714  4.8146
12   Bream   500.0     29.1     31.5     36.4  13.7592  4.3680
13   Bream   340.0     29.5     32.0     37.3  13.9129  5.0728
14   Bream   600.0     29.4     32.0     37.2  14.9544  5.1708
15   Bream   600.0     29.4     32.0     37.2  15.4380  5.5800
16   Bream   700.0     30.4     33.0     38.3  14.8604  5.2854
17   Bream   700.0     30.4     33.0     38.5  14.9380  5.1975
18   Bream   610.0     30.9     33.5     38.6  15.6330  5.1338
19   Bream   650.0     31.0     33.5     38.7  14.4738  5.7276

In [6]:
def ohe_label_encoding(df,column):
    #Using the label encoder to convert the string values into labels
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    
    
    ohe = OneHotEncoder()
    temp_array = ohe.fit_transform(df[[column]]).toarray()    
    column_names= [ column + "_" + str(m) for m in le.classes_ ]
    
    return( pd.DataFrame(data = temp_array , columns = column_names) ) 

#By this way we can transform a categorical data into machine readable format by using OneHotEncoder of the SkLearn package
#Note the newer versions of SkLearn can automatically convert the categorical data string or other values into OneHotEncodings

In [7]:
numerical_values = ["Length1",  "Length2" , "Length3", "Height" , "Width","Weight"]
categorical_values = ["Species"]

In [8]:
new_df = df[numerical_values]
for column in categorical_values:
    new_df = pd.concat([new_df,ohe_label_encoding(df,column)] , axis  =1 )

C:\Users\Shivansh\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [9]:
new_df.head(10)

,Length1,Length2,Length3,Height,Width,Weight,Species_Bream,Species_Parkki,Species_Perch,Species_Pike,Species_Roach,Species_Smelt,Species_Whitefish
0,23.2,25.4,30.0,11.5200,4.0200,242.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,24.0,26.3,31.2,12.4800,4.3056,290.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,23.9,26.5,31.1,12.3778,4.6961,340.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,26.3,29.0,33.5,12.7300,4.4555,363.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,26.5,29.0,34.0,12.4440,5.1340,430.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,26.8,29.7,34.7,13.6024,4.9274,450.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,26.8,29.7,34.5,14.1795,5.2785,500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,27.6,30.0,35.0,12.6700,4.6900,390.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8,27.6,30.0,35.1,14.0049,4.8438,450.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,28.5,30.7,36.2,14.2266,4.9594,500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
#We can use the correlation matrix to find the elements
corr = df.corr()

In [11]:
corr

          Species    Weight   Length1   Length2   Length3    Height     Width
Species  1.000000 -0.312960 -0.266696 -0.283601 -0.335519 -0.698193 -0.397578
Weight  -0.312960  1.000000  0.915712  0.918618  0.923044  0.724345  0.886507
Length1 -0.266696  0.915712  1.000000  0.999517  0.992031  0.625378  0.867050
Length2 -0.283601  0.918618  0.999517  1.000000  0.994103  0.640441  0.873547
Length3 -0.335519  0.923044  0.992031  0.994103  1.000000  0.703409  0.878520
Height  -0.698193  0.724345  0.625378  0.640441  0.703409  1.000000  0.792881
Width   -0.397578  0.886507  0.867050  0.873547  0.878520  0.792881  1.000000

In [12]:
#Now splitting the dataset for traing and testing purposes
x = new_df[list((new_df.columns))]
y = new_df["Weight"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [13]:
#Using Linear Regresion and Fitting the data

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [16]:
y_pred = lr.predict(x_test)
y_pred

array([ 820. ,  300. , 1000. ,  200. ,  725. ,   40. ,  300. ,  514. ,
        188. ,  610. ,  820. ,  145. ,  150. ,  450. ,  700. ,  685. ,
        218. ,  300. ,  850. ,  197. ,  242. , 1000. ,  180. ,  272. ,
       1600. ,  170. ,  290. ,  169. ,   12.2,  260. ,  950. ,  150. ,
        900. ,  363. ,    9.8,  500. ,  340. ,  160. ,  500. ,  290. ,
         69. ,  600. ,  161. ,  300. ,   12.2,  720. ,  135. ,  145. ])

In [ ]:
#Linear Regression model returns discrete values (predictions in the form of numbers) thus we can have metrics to judege
# the quality of predictions that our model is making
#https://towardsdatascience.com/regression-an-explanation-of-regression-metrics-and-what-can-go-wrong-a39a9793d914

In [34]:
#Mean squared error is the mean of squares of differences between the predicted and actual values
mse = mean_squared_error(y_test,y_pred)
print( "Mean Squared Error : {0} ".format(mse))

Mean Squared Error : 8.930234139145695e-27

In [36]:
#Root mean squared error is simply the root of the MSE value
#Usually used when large errors are undesirable
rms = sqrt( mse )
print( "Root Mean Squared Error : {0} ".format(rms))

Root Mean Squared Error : 9.449991608009869e-14

In [44]:
#Mean absolute error is the mean of the absolute error between the true and the predicted values
mea = mean_absolute_error( y_test,y_pred )
print( "Mean absolute Error : {0} ".format(mea))

Mean absolute Error : 6.724250785813031e-14

In [53]:
#R squared error or coeffecient of determination is the value with denotes us how much of the variation is described
#by the variation in x; It ranges from -infinity to 1
rsquared = r2_score(y_test,y_pred)
rsquared

1.0